.banner-img{
  background-image: url('../src/images/images/banner-image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.banner-text-1{
  color: #fff6ce;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  border-bottom: 2px solid crimson;
}
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.banner-text-2{
  color: #fff6ce;
    font-size: 60px;
    font-family: 'Supermercado One', cursive;
}